option_settings:
  aws:elasticbeanstalk:container:nodejs:
#    NodeVersion: 4.8.4
#    NodeVersion: 4.8.5
#    NodeVersion: 5.12.0
#    NodeVersion: 6.11.1
#    NodeVersion: 6.11.5
#    NodeVersion: 7.10.1
#    NodeVersion: 8.4.0
    NodeVersion: 8.8.1
  aws:elasticbeanstalk:application:environment:
    NPM_USE_PRODUCTION: false

commands:
  011_001_node:
    command: "ln -sf /opt/elasticbeanstalk/node-install/node-v$(/opt/elasticbeanstalk/bin/get-config optionsettings -n aws:elasticbeanstalk:container:nodejs -o NodeVersion)-*/bin/node /bin/node"
  011_002_npm:
    command: "ln -sf /opt/elasticbeanstalk/node-install/node-v$(/opt/elasticbeanstalk/bin/get-config optionsettings -n aws:elasticbeanstalk:container:nodejs -o NodeVersion)-*/bin/npm /bin/npm"
