commands:
  01-node:
    command: "ln -sf /opt/elasticbeanstalk/node-install/node-v`/opt/elasticbeanstalk/bin/get-config optionsettings -n aws:elasticbeanstalk:container:nodejs -o NodeVersion`*/bin/node /bin/node"
  02-npm:
    command: "ln -sf /opt/elasticbeanstalk/node-install/node-v`/opt/elasticbeanstalk/bin/get-config optionsettings -n aws:elasticbeanstalk:container:nodejs -o NodeVersion`*/bin/npm /bin/npm"
option_settings:
  - option_name: NPM_USE_PRODUCTION
    value: false
